* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}
.featured {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.item {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    background: #F8F8F8;
    max-width: 360px;
}

.item:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    transition: box-shadow 0.3s;
}

.item:hover {
    filter: brightness(70%);
    transition: filter 0.3s;
}

.item_info {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.item_info__title {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.item_info__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.item_info__price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}